cmake-build-*/
build/
.vscode/
.mypy_cache/
.lsync*
venv/
**/__pycache__/
base.json
src/x86/*.json
*.code-workspace
*.o
src/generated.asm
generated.asm
generated
src/x86/executor/.cache.mk
src/x86/executor/measurement.o.ur-safe
dbg/
site
dist/

# 工作目录和测试输出
wd-*/
violation-*/
parse_test_case.asm
minimized.asm
mutated.asm
*.der
*.priv